/* В этом файле будут храниться все значения переменных в исходном состоянии, a так же их изменения в зависимости от ширины устройства */

:root {
  --inter: 'Inter-Variable', sans-serif;
  --pressStart2P: 'PressStart2P', fantasy;
  --weight-title-card: 700;
  --weight-text-card: 400;
  --container: clamp(375px, 50%, 700px);
  --border: 2px solid #000;
  --big-margin: 128px;
  --white-color: #fff;
  --black: #000;
  --red: red;
  --none: transparent;
  --gradient: repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), linear-gradient(to bottom, #e7e7e7, #1a1a1a);
}

@media (width <= 375px) {
  :root {
    --big-margin: 120px;
  }
}